
@{
    ViewBag.Title = "PA Consulting";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!--@Html.Partial(@Url.Content("~/Views/SandBoxViews/userViewHeader.cshtml"))-->
    <link type="text/css" rel="stylesheet" href="../../MaterialDesignAssets/css/theme-default/libs/select2/select2.css?1424887856" />
    <link type="text/css" rel="stylesheet" href="../../MaterialDesignAssets/css/theme-default/libs/multi-select/multi-select.css?1424887857" />
</head>
<body class="menubar-hoverable header-fixed menubar-pin ">
    <!-- BEGIN BASE-->
    <div id="base">

        <!-- BEGIN OFFCANVAS LEFT -->
        <div class="offcanvas">
        </div><!--end .offcanvas-->
        <!-- END OFFCANVAS LEFT -->
        <!-- BEGIN CONTENT-->
        <div id="content">
            <section>
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="text-primary">Shopping Cart </h1>
                    </div><!--end .col -->
                    <div class="col-lg-8">
                        <article class="margin-bottom-xxl">
                            <p class="lead">
                                View your shopping cart below
                            </p>
                        </article>
                    </div><!--end .col -->
                    <div class="col-lg-8">
                        <article class="margin-bottom-xxl">
                            <h3>Songs:</h3>
                        </article>
                    </div><!--end .col -->
                </div><!--end .row -->
                <!-- BEGIN BASIC ELEMENTS -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body no-padding">
                                <ul id="songListingContainer" class="list divider-full-bleed">
                                </ul>
                            </div><!--end .card-body -->
                        </div><!--end .card -->
                    </div><!--end .row -->
                    </div>
                <!-- END BASIC ELEMENTS -->
                <div class="row">
                    <div class="col-lg-12">
                        <article class="margin-bottom-xxl">
                            <h3>Albums:</h3>
                        </article>
                    </div><!--end .col -->
                </div><!--end .row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body no-padding">
                                <ul id="albumListContainer" class="list divider-full-bleed">
                                </ul>
                            </div><!--end .card-body -->
                        </div><!--end .card -->
                    </div><!--end .row -->
                  </div>
                <div class="row">
                    <div class="col-lg-12">
                        <article class="margin-bottom-xxl">
                            <h3>SubTotal:</h3> <span id="subtotal">Updating...Please give a few seconds</span>
                        </article>
                    </div><!--end .col -->
                </div><!--end .row -->
                <div class="row">
                    <div class="col-lg-12">
                        <article class="margin-bottom-xxl">
                            <h3>Total:</h3> <span id="total">Updating...Please give a few seconds</span>
                        </article>
                    </div><!--end .col -->
                </div><!--end .row -->
                <button id="checkoutBtn" type="button" class="btn ink-reaction btn-raised btn-primary">Check Out</button>
                <br/><br/><br/>
                <div  class="row" >
                    <div id="creditCardRow" style="visibility:hidden" class="col-lg-offset-1 col-md-8">
                        <div class="card">
                            <div class="card-body">
                                <form>
                                    Select a card option below:<br />
                                    <input id="ccOption1" type="radio" name="gg" value="cc1" checked><span id="creditCard1"></span> <br>
                                    <input id="ccOption2" type="radio" name="gg" value="cc2"><span id="creditCard2"></span> <br>
                                    <input id="ccOption3" type="radio" name="gg" value="cc3"> Use a new card (Please provide details below if you want to use a new card)
                                </form>
                                <form class="form-horizontal" role="form">
                                        <br/>
                                    New card number: <input id="newCardNum" type="text" placeholder="Enter your card number here" size="30"/>
                                </form>
                                <form class="form-horizontal" role="form">
                                    <input id="gifteeCheck" type="checkbox" name="gift" value="gift"> Is this a gift? If so, please provide giftee's email below
                                </form>
                                <form class="form-horizontal" role="form">
                                    <input id="gifteeEmail" type="text" name="gift" value="" placeholder="Provide email here"> 
                                </form>
                            </div>  
                                       
                        </div>    

                        <button id="paymentPageBtn" type="button" class="btn ink-reaction btn-raised btn-primary">Proceed to Payment Confirmation Page</button>

                        </div><!--end .col -->               
                    </div><!--end .form-group -->
</section>
        </div><!--end #content-->
        <!-- END CONTENT -->
        <div id="htmlComponentsContainer" style="display:none;">
            @Html.Partial(@Url.Content("~/Views/SandBoxViews/userViewHTMLComponents.cshtml"))
        </div>
    </div><!--end #base-->
    <!-- END BASE -->
    <!-- BEGIN JAVASCRIPT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        function deleteSong(elm) {
            var songID = $(elm).attr("data-song-id");

            $.post('/transactionsajax/deleteSong', { songID: songID })
            .done(function (data) {
                if(data == "success"){
                    $(elm).parent().remove();
                }

            });
        }

        function deleteAlbum(elm) {
            var albumID = $(elm).attr("data-song-id");

            $.post('/transactionsajax/deleteAlbum', { albumID: albumID })
            .done(function (data) {
                if (data == "success") {
                    $(elm).parent().remove();
                }

            });
        }

        $(document).ready(function () {

            var userID = "@ViewBag.userID";
            var userEmail = "@ViewBag.userEmail";
            //Set up credit card numbers
            var cc1 = "@ViewBag.CCNumber1";
            var cc1Short = cc1.substr(cc1.length - 4);
            var ccType1 = "@ViewBag.CCType1";

            var cc2 = "@ViewBag.CCNumber2";
            var cc2Short = cc2.substr(cc2.length - 4);
            var ccType2 = "@ViewBag.CCType2";

            $('#creditCard1').html("-" + cc1Short);
            $('#creditCard2').html("-" + cc2Short);

            $('#paymentPageBtn').on("click", function () {
                

                if ($('#ccOption3').attr("checked")) {
                    var newCardNum = $('#newCardNum').val();
                    if(newCardNum.trim() == ''){
                        alert("Please enter a new card number that's 16 digits");
                        return;
                    }else if(newCardNum.length != 16){
                        alert('Make sure the new card is 16 digits');
                        return;
                    }
                    
                }

                if ($('#gifteeCheck').attr("checked")) {
                    var gifteeEmail = $('#gifteeEmail').val();
                    
                    if(gifteeEmail.trim() == '' ){
                        alert('Please provide a giftee email');
                    } else {
                        $.post('/transactionsAjax/checkIfUserExists', { userID: userID, emailAddress: gifteeEmail })
                        .done(function (data) {
                            if(data == 'true'){
                                 
                                if ($('#ccOption1').attr("checked")) {
                                    window.location.href = "/transactions/getCheckOutPage" + "?" + $('#creditCard1').html() + "?" + gifteeEmail + "?gift" ;
                                } else if ($('#ccOption2').attr("checked")) {
                                    window.location.href = "/transactions/getCheckOutPage" + "?" + $('#creditCard2').html() + "?" + gifteeEmail + "?gift";
                                } else if ($('#ccOption3').attr("checked")) {
                                    window.location.href = "/transactions/getCheckOutPage" + "?-" + newCardNumShort + "?" + gifteeEmail + "?gift";
                                }

                                
                            }else{
                                alert('giftee email does not exist');
                                return;
                                }
                        });
                    }
                }
                var newCardNum = $('#newCardNum').val()
                var newCardNumShort = newCardNum.substr(newCardNum.length - 4);

                if($('#ccOption1').attr("checked")){
                    window.location.href = "/transactions/getCheckOutPage" + "?" + $('#creditCard1').html() + "?" + userEmail;
                }else if($('#ccOption2').attr("checked")){
                    window.location.href = "/transactions/getCheckOutPage" + "?" + $('#creditCard2').html() + "?" + userEmail;
                }else if ($('#ccOption3').attr("checked")){
                    window.location.href = "/transactions/getCheckOutPage" + "?-" + newCardNumShort + "?" + userEmail;
                }
                

                
                
            });

            //Get user song cart data
            var shoppingCartSongsInsert = '';

            var albumSongsArray = [];
            var songsArray = [];

            $.post("/transactionsAjax/getUserShoppingCartSongs", { userID: userID })
            .done(function (data) {

                var songListingDataObject = JSON.parse(data);

                $.each(songListingDataObject, function (index, item) {

                    $.post("/transactionsAjax/getSongDetails", {songID : item.UserActivityInputArg1})
                    .done(function (data) {

                        var songDetailsObject = JSON.parse(data);
                        songsArray.push(songDetailsObject[0].SongTitle);
                        //var songCartHTML = $('#shoppingCartSongItem')[0].outerHTML;

                        var songCartHTML = '<li id="shoppingCartSongItem" class="tile"> \
                                                    <a href="/sandbox/getsongdetailspage/SONGID" class="tile-content ink-reaction">\
                                                        <div class="tile-icon">\
                                                            <i class="fa fa-music"></i>\
                                                        </div>\
                                                         <div class="tile-text"><b>Title:</b> <span class="songTitle"> SONGTITLE </span> <b>Artist:</b> <span class="songArtist">SONGARTIST</span> <b>Rating: </b><span>SONGRATING</span> <b>Price: </b><span class="songPrice">SONGPRICE</span></div>\
                                                    </a>\
                                                    <a onclick="deleteSong(this)" class="deleteSongBtn" data-song-id="SONGID" class="btn btn-flat ink-reaction">\
                                                        <i class="fa fa-trash"></i>\
                                                    </a>\
                                                </li>'
                        ;

                        songCartHTML = songCartHTML.replace(/SONGID/g, songDetailsObject[0].SongID);
                        songCartHTML = songCartHTML.replace("SONGTITLE", songDetailsObject[0].SongTitle);
                        songCartHTML = songCartHTML.replace("SONGARTIST", songDetailsObject[0].ArtistName.ArtistName);
                        songCartHTML = songCartHTML.replace("SONGPRICE", songDetailsObject[0].SongPrice);
                        songCartHTML = songCartHTML.replace("SONGRATING", "fml");

                        $('#songListingContainer').append(songCartHTML);
                    });
                });
            });


            //Get user album cart data
            var shoppingCartAlbumsInsert = '';

            $.post("/transactionsAjax/getUserShoppingCartAlbums", { userID: userID })
            .done(function (data) {

                var albumListingDataObject = JSON.parse(data);

                $.each(albumListingDataObject, function (index, item) {

                    $.post("/transactionsAjax/getAlbumDetails", { albumID: item.UserActivityInputArg1 })
                    .done(function (data) {

                        var albumDetailsObject = JSON.parse(data);
                        albumDetailsObject[0].albumSongs.forEach(function (arrayItem) {

                            albumSongsArray.push(arrayItem.SongTitle);

                        });



                        //var songCartHTML = $('#shoppingCartSongItem')[0].outerHTML;

                        var albumCartHTML = '<li id="shoppingCartSongItem" class="tile"> \
                                                    <a href="/Details/getAlbumDetailsPage/ALBUMID" class="tile-content ink-reaction">\
                                                        <div class="tile-icon">\
                                                            <i class="fa fa-music"></i>\
                                                        </div>\
                                                         <div class="tile-text"><b>Title:</b> <span class="albumTitle"> ALBUMTITLE </span> <b>Artist:</b> <span class="albumArtist" >ALBUMARTIST</span> <b>Rating: </b><span>ALBUMRATING</span> <b>Price: </b><span class="albumPrice">ALBUMPRICE</span></div>\
                                                    </a>\
                                                    <a onclick="deleteAlbum(this)" class="deleteAlbumBtn" data-song-id="ALBUMID" class="btn btn-flat ink-reaction">\
                                                        <i class="fa fa-trash"></i>\
                                                    </a>\
                                                </li>'
                        ;

                        albumCartHTML = albumCartHTML.replace(/ALBUMID/g, albumDetailsObject[0].albumID);
                        albumCartHTML = albumCartHTML.replace("ALBUMTITLE", albumDetailsObject[0].albumName);
                        albumCartHTML = albumCartHTML.replace("ALBUMARTIST", albumDetailsObject[0].albumArtist);
                        albumCartHTML = albumCartHTML.replace("ALBUMPRICE", albumDetailsObject[0].albumPrice);
                        albumCartHTML = albumCartHTML.replace("ALBUMRATING", "fml");

                        $('#albumListContainer').append(albumCartHTML);
                    });
                });
            });

            $('#checkoutBtn').on('click', function () {
                var duplicateCheck = true;

                if ($('#total').html() == 'Updating...Please give a few seconds') {
                    alert('Please wait for totals to update');
                    return;
                }

                var duplicateSongs = [];

                $.each(songsArray, function (key, value) {
                    var index = $.inArray(value, albumSongsArray);
                    if (index != -1) {
                        duplicateCheck = false;
                        duplicateSongs.push(value);
                    }
                });

                if(duplicateCheck == false){
                    alert('The following are duplicate songs in your shopping cart, please remove them before proceeding to checkout: ' + duplicateSongs);
                    return;
                }

                var songListLength = $('#songListingContainer > li').length;
                var albumListLength = $('#albumListContainer > li').length;

                if ((songListLength + albumListLength) == 0) {
                    
                    alert("Please add songs or albums to the shopping cart before proceeding to check out.");
                    return;
                }

                $('#creditCardRow').css('visibility', 'visible');

            });

            setTimeout(
              function () {
                  var songTotal = 0;
                  $('.songPrice').each(function () {
                      var priceString = $(this).html();
                      var priceFloat = parseFloat(priceString);
       
                      songTotal += priceFloat;
                  });

                  var albumTotal = 0;
                  $('.albumPrice').each(function () {
                      var priceString = $(this).html();
                      var priceFloat = parseFloat(priceString);
                      albumTotal += priceFloat;
                  });

                  var subtotal = songTotal + albumTotal;
                  var subtotalFixed = subtotal.toFixed(2);
                  $('#subtotal').html("$" + subtotalFixed);

                  var total = subtotal * 1.0825;
                  var totalFixed = total.toFixed(2);
                  $('#total').html("$" + totalFixed);


                  //alert(albumSongsArray);
                  //alert(songsArray);
              }, 5000);

        });

    </script>
    <!-- END JAVASCRIPT -->

</body>
</html>


