<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @Html.Partial(@Url.Content("~/Views/SandBoxViews/userViewHeader.cshtml")) 
</head>
<body>
    <header id="header">
        <div class="headerbar">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="headerbar-left">
                <ul class="header-nav header-nav-options">
                    <li class="header-nav-brand">
                        <div class="brand-holder">
                            <a href="#">
                                <span class="text-lg text-bold text-primary">PA Consulting</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="headerbar-right">
                <ul class="header-nav header-nav-options"></ul><!--end .header-nav-options -->
                <ul class="header-nav header-nav-profile">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
                            <img src="http://www.rallyall.com/img/session/icon_Profile.png" alt="" />
                            <span class="profile-info">
                                <span id="userName"> Not Logged In </span>
                                <small id="userClassification"></small>
                                <input id="userID" type="hidden" value=""/>
                            </span>
                        </a>
                        <ul class="dropdown-menu animation-dock">
                            <li class="dropdown-header">User Info</li>
                            <li><a href="../../html/pages/blog/post.html">Manage Account</a></li>
                            <li><a href="../../html/pages/profile.html">My Music</a></li>
                            <li><a href="../../html/pages/calendar.html">Order History</a></li>
                            <li class="divider"></li>
                            <li>@Html.Partial("_LoginPartial")</li>
                            <!--
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Songs", "Index", "Songs")</li>
                            <li>@Html.ActionLink("Artists", "Index", "Albums")</li>
                            -->
                        </ul><!--end .dropdown-menu -->
                    </li><!--end .dropdown -->
                </ul><!--end .header-nav-profile -->
            </div><!--end #header-navbar-collapse -->
        </div>
    </header>
    <div class="container body-content">
        <!-- BEGIN MENUBAR-->
        <div id="menubar" class="menubar-inverse ">
            <div class="menubar-fixed-panel">
                <div>
                    <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <div class="expanded">
                    <a href="../../html/dashboards/dashboard.html">
                        <span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>
                    </a>
                </div>
            </div>
            <div class="menubar-scroll-panel">

                <!-- BEGIN MAIN MENU -->
                <ul id="main-menu" class="gui-controls">

                    <li>
                        <a href="#">
                            <div class="gui-icon"><i class="md md-home"></i></div>
                            <span class="title">Welcome</span>
                        </a>
                    </li><!--end /menu-li -->
                    <!-- BEGIN SEARCH -->
                    <li class="gui-folder">
                        <a>
                            <div class="gui-icon"><i class="fa fa-search"></i></div>
                            <span class="title">Search</span>
                        </a>
                        <!--start submenu -->
                        <ul>
                            <li><a href="/sandbox/getCustomerSongSearchPage"><span class="title">Song Search</span></a></li>
                            <li><a href="/sandbox/getCustomerAlbumSearchPage"><span class="title">Album Search</span></a></li>
                            <li><a href="/sandbox/getCustomerArtistSearchPage"><span class="title">Artist Search</span></a></li>
                        </ul><!--end /submenu -->
                    </li><!--end /menu-li -->
                    <li>
                        <a href="#">
                            <div class="gui-icon"><i class="fa fa-group"></i></div>
                            <span class="title">Manage Customer</span>
                        </a>
                    </li><!--end /menu-li -->
                    <li>
                        <a href="#">
                            <div class="gui-icon"><i class="fa fa-group"></i></div>
                            <span class="title">Manage Employees</span>
                        </a>
                    </li><!--end /menu-li -->
                    <li>
                        <a href="#">
                            <div class="gui-icon"><i class="fa fa-music"></i></div>
                            <span class="title">Manage Songs</span>
                        </a>
                    </li><!--end /menu-li -->
                    <li>
                        <a href="#">
                            <div class="gui-icon"><i class="fa fa-navicon"></i></div>
                            <span class="title">Manage Albums</span>
                        </a>
                    </li><!--end /menu-li -->
                    <li>
                        <a href="#">
                            <div class="gui-icon"><i class="fa fa-paint-brush"></i></div>
                            <span class="title">Manage Artists</span>
                        </a>
                    </li><!--end /menu-li -->
                    <li>
                        <a href="#">
                            <div class="gui-icon"><i class="fa fa-group"></i></div>
                            <span class="title">Manage Genres</span>
                        </a>
                    </li><!--end /menu-li -->
                    <li>
                        <a href="/transactions/getShoppingCart">
                            <div class="gui-icon"><i class="fa fa-shopping-cart"></i></div>
                            <span class="title">Shopping Cart</span>
                        </a>
                    </li><!--end /menu-li -->


                </ul><!--end .main-menu -->
                <!-- END MAIN MENU -->

                <div class="menubar-foot-panel">
                    <small class="no-linebreak hidden-folded">
                        <span class="opacity-75">Copyright &copy; 2016</span> <strong>PA Consulting LLC</strong>
                    </small>
                </div>
            </div><!--end .menubar-scroll-panel-->
        </div><!--end #menubar-->
        <!-- END MENUBAR -->
        @RenderBody()
        <hr />
        <footer>
            @Html.Partial(@Url.Content("~/Views/SandBoxViews/Footers/userSongSearchFooter.cshtml"))
        </footer>
        <script>
            //USER DETAIL SETUP
            var authenticationStatus = 'none';
            if ("@ViewBag.authenticationStatus" != "none") {
                var userLastName = "@ViewBag.userLastName";
                var userFirstName = "@ViewBag.userFirstName";
                var userID = "@ViewBag.userID";
                authenticationStatus = "@ViewBag.authenticationStatus";
                if (authenticationStatus == 'Emp') {
                    authenticationStatus = 'employer';
                }

                $('#userName').html(userFirstName + " " + userLastName);
                $('#userClassification').html(authenticationStatus);
                $('#userID').val(userID);
            }
        </script>
    </div>
</body>
</html>






