@model IEnumerable<Final_Project_V2.Models.Song>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SongTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SongPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Featured)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SongTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SongPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Featured)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditSong", new { id=item.SongID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SongID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SongID })
        </td>
    </tr>
}

</table>
