@model IEnumerable<Final_Project_V2.Models.UserActivityInput>

@{
    ViewBag.Title = "ManageAlbumReviews";
}

<h2>Manage Album Reviews</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserActivityInputTxt1)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserActivityInputTxt1)
            </td>
            <td>
                @Html.ActionLink("Edit Review", "EditAlbumReview", new { id = item.UserActivityInputID }) |
                @Html.ActionLink("Details", "Details", new { id = item.UserActivityInputID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.UserActivityInputID })
            </td>
        </tr>
    }
